.todotitle{
    color:rgba(255, 255, 255, 0.86);
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:center;
    background :linear-gradient(to left,red,#0e38a3);
    height:795px;
    width: auto;
    border-radius: 20px;
}
.input_text{
   margin:auto;
   width:585px;
   margin-top:40px;
   background :linear-gradient(to left,red,#0e38a3);
   border-radius: 20px;
}
.Todoinput{
    text-align: center;
    width: 585px;
    flex-direction: column;
    display: flex;
    height:50px;
    margin-top:10px;
    font-size: 30px;
    border-radius: 20px;
}   
.todo-btn{
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:60px;
    color:#060606;
    background :rgb(239, 239, 241);
    border-radius: 50px;
    font-size: 20px;
    font-weight:700;
    cursor:pointer;
    margin: auto;
    margin-top: 20px;
}
.todo-btn:hover{
    transform:scale(1.1);
}
.task{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 65px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-variant: small-caps;
}
.del-btn{
    display: flex;
    justify-self: left;
    align-items: center;
    width: 60px;
    height: 40px;
    margin-top: 27px;
    margin-left: 10px;
    font-weight: 50px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif ;
    cursor:pointer;
}
.del-btn:hover{
    transform:scale(1.1);
}
   
